/* GERAIS */
body{
    background-color: black;
    z-index: inherit;
}

.btn-custom-white {
    background-color: #fff;
}

.btn-custom-translucent {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.btn-custom-translucent:hover {
    opacity: 0.8;
    color: #fff;
}

.btn-custom-white:hover {
    opacity: 0.8;
}

.btn-custom-round {
    padding: 5px 9px !important;
}

.opacity-50 {
    opacity: .5;
    color: #fff;
}



/* LOGIN */
body.bg_filmes {
    background-image: url(./assets/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    width: 100%;
    padding: 50px;
    background: linear-gradient(
        180deg, 
        rgba(0,0,0,0.73) 0%, 
        rgba(0,0,0,0) 100%);
    overflow: none;
    top: 0px;
    z-index: 1;
}

.logo {
    height: 50px;
    width: auto;
}

#caixa_login {
    background-color: rgba(0,0,0,0.7);
    padding: 30px;
}

/* HOME */
.menu-list {
    list-style: none;
    padding-left: 0px;
    padding-top: 7px;
}

.menu-list li {
    display: inline-block;
    margin-left: 15px;
}

.menu-list li a {
    color: #fff;
    text-decoration: none;
}

.menu-list li a:hover {
    text-decoration: underline;
}

#hero {
    background-position: center;
    background-image: url(./assets/hero-static-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    position: absolute;
    z-index: 0;
    top: 0px;
}

#hero::after {
    content: '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(
        0deg, 
        rgba(0,0,0,1) 0%, 
        rgba(0,0,0,0) 100%);
    position: absolute;
    top: calc(720px - 350px);
    left: 0px;
    z-index: 2;
}

#hero-infos {
    padding: 0px;
    margin-top: 170px;
    position: relative;
    z-index: 3;
}

#hero-infos img.logo {
    margin-bottom: 50px;
    width: 500px;
    height: auto;
}

#hero-infos h1{
    margin-bottom: 20px;
}

#hero-infos h1 img{
    width: 40px;
    height: auto;
}

#main-content {
    margin-top: calc(720px - 150px);
}

.filme_lista {
    overflow-x: scroll;
    list-style: none;
    padding: 25px 0;
    white-space: nowrap;
    display: block;
}

.filme_lista::-webkit-scrollbar{
    display: none;
}

#filme {
    display: inline-block;
    width: 250px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
}

#filme:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 3;
    transform: 0.5s;
}

#filme:hover .filme_info{
    transform: scale(1);
}

#filme:first-child{
    margin-left: 70px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.filme_info {
    background-color: #171717;
    padding: 10px;
    height: 100px;
    width: 100%;
    transform: scale(0);
}

.filme_info p{
    color: #7E7b7b;
    font-size: 12px;
}

.filme_info p text{
    color: #fff;
}

.filme_info .col-12{
    margin-top: 5px;
}

.filme_info .col-12:first-child {
    margin-bottom: 20px;
    margin-left: 0px;
}

section {
    margin-bottom: -100px;
    position: relative;
}

section:hover {
    z-index: 9;
}

/* MODAL */
.modal-dialog, .modal-content {
    background-color: #171717;
}

.modal-dialog {
    max-width: 600px;
}

.modal-hero img{
    max-width: 250px;
    margin-top: 30px;
    margin-bottom: 40px;
    z-index: 2;
    position: relative;
}

.modal-hero {
    background-image: url(assets/films/modal_atlanta.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    padding: 40px;
}

.modal-hero::after{
    content: '';
    width: 100%;
    height: 200px;
    display: block;
    background: linear-gradient(
        0deg, 
        rgba(23,23,23,1) 0%, 
        rgba(23,23,23,0) 100%);
    position: absolute;
    left: 0px;
    margin-top: -159px;
    z-index: 1;
}

.modal-hero-infos {
    position: relative;
    z-index: 2;
}

.modal-hero-infos button:first-child{
    margin-right: 20px;
}

.filme_descricao {
    font-size: 15px;
    color:#fff
}

.filme_elenco {
    font-size: 13px;
    color:rgba(255, 255, 255, 0.55)
}

.filme_elenco text{
    color: #fff;
}

#lista_episodios {
    list-style: none;
    padding: 0px;
}

#lista_episodios li {
    padding: 20px;
}

#lista_episodios li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
}

#lista_episodios p{
    font-size: 13px;
}